/* --- CSS Variables --- */

:root {
    --main-bg-color: #0077b6;
    --secondary-bg-color: #e9ecef;
    --main-text-color: #fff;

}

/* --- Global CSS --- */

body {
    font-family: ;
}

h2 {
    text-align: center;
}

.button--container {
    width:  240px;
    margin: 2rem auto;
}

.button--container a {
    text-decoration: none;
    color: inherit;
}

/* --- Header CSS --- */

header .navbar {
    background-color: var(--main-bg-color);
}

.title {
    text-align: center;
    padding: 2rem 0;
    margin: 4rem auto;
}

.title h1 {
    margin: 0 auto 2rem;
}

/* .button--container {
    margin: 50px auto;
} */

/* --- Main CSS --- */

/* How it works */

.how-it-works--container {
    max-width: 350px;
    margin: 50px auto;
}

.how-it-works--image {
    width: 350px;
}

.how-it-works--description {
    text-align: center;
    margin-top: 30px;
}

/* Features */

#features {
    background-color: var(--secondary-bg-color);
}