/* --- CSS Variables --- */

:root {
    --main-bg-color: #0077b6;
    --secondary-bg-color: #e9ecef;
    --main-text-color: #fff;

}

/* --- Global CSS --- */

body {
    font-family: ;
}

h2 {
    text-align: center;
}

.button--container {
    width:  240px;
    margin: 2rem auto;
}

.button--container a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

/* --- Header CSS --- */

header .navbar {
    background-color: var(--main-bg-color);
}

.title {
    text-align: center;
    padding: 2rem 0;
    margin: 4rem auto;
}

.title h1 {
    margin: 0 auto 2rem;
}

/* .button--container {
    margin: 50px auto;
} */

/* --- Main CSS --- */

/* How it works */

.how-it-works {
    margin-bottom: 2rem;
}

.how-it-works--container {
    max-width: 320px;
    margin: 50px auto;
}

.how-it-works--description,
.feature-description {
    text-align: center;
    margin-top: 30px;
}

/* Features */

.features {
    background-color: var(--secondary-bg-color);
}

.features .carousel {
    width: 20rem;
    margin: 30px auto;
}

.features h2 {
    padding-top: 2rem;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    top: 2px;
    color: #212529;
}

.carousel-indicators {
    position: relative;
    top: 220px;
}